*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}


.clear::after{display: block; content: ''; clear: both;}
.container{padding: 0 19px;  width: 100%; max-width: 1480px;}

header{z-index: 999; position: fixed; width: 100%; height: auto; transition: all 0.5s; box-sizing: border-box; padding: 30px 70px;}
.header_container{display: flex; align-items: center; justify-content: space-between; margin: 0 auto; max-width: 1750px; widows: 100%; height: auto;}
header .header-top{padding-left: 22px; display: flex; justify-content: space-between; align-items: center; position: relative;}

.nav_drop{top: 0; left: 0; right: 0; height: auto; align-items: center; transform: 0; display: block;  box-sizing: border-box;}
.nav{display: block;}
.nav_list{margin-bottom:0; text-align: center;}
.nav_list li{display: inline-block; vertical-align: middle; padding:0 20px;}
.nav_list li a{display: block; position: relative; color: black; font-weight: 600; color: #fff; padding: 16px 0;}
.nav_list li .anchor-btn{display: inline-block; background: #fff; color: #000; min-width: 170px; vertical-align: top;}

.banner-block{min-height: 100vh; background: #161616; background-position: 50% 50%; background-size: cover; background-repeat: no-repeat;
display: flex; align-items: center; position: relative; overflow: hidden; padding: 120px 0 50px; color: #fff;}
.banner-block::before{content: ''; position: absolute; top: 0; bottom: 0; right: 0; left: 0; z-index: 2; background: hsla(0, 0%, 9%, .65);}

.banner-block .container{position: relative; z-index: 3; padding: 0 40px; margin: 0 auto; width: 100%; max-width: 1480px;}
.banner-block .banner-content{max-width: 60%; position: relative;}



.banner-block .banner-content h1{font-size: 48px; font-weight: 700; margin-bottom: 1.5em; line-height: 1.193;}
.banner-block .banner-content a{background: #3f60fa; line-height: 50px; height: 50px; min-width: 240px; display: inline-block; vertical-align: top;
text-align: center; font-weight: 600; position: relative; overflow: hidden;
}





.banner-block .video-holder{position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;}
.banner-block .video{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: auto; height: auto; min-width: 100%; min-height: 50%; object-fit: cover;}

.section{padding: 105px 0;}

.section.highlight-section{background: #3f60fa; color: #fff; line-height: 1.572; padding-bottom: 110px;}

.section.highlight-section .col-lg-5{width: 41.6667%;}
.col{padding: 0; flex-shrink: 0; }
.ultracustombreak{display: none;}
.section.highlight-section .row{display: flex; align-items: center; justify-content: space-between;}

.section.highlight-section .col-md-6.pl-0{width: 47%;}

.section.highlight-section .text-holder{padding-right: 10%;}
.section.highlight-section .text-holder p{font-family: 'Exo 2', sans-serif; font-size: 15px; font-weight: 400;}
.section.highlight-section h2{font-size: 48px; color: #fff; font-weight: 700; line-height: 1.46;}


.prime-section{position: relative; background: #fff;}
.prime-section::before{content: ''; position: absolute; top: 100%; width: 30%; z-index: 5; background: #efefef; right: calc(50% - 120px); height: 90px;}

.row{display: flex;}
.row.wrap{flex-wrap: wrap;}
.row.reverse{flex-direction: row-reverse;}
.col-lg-6{width: 50%;}
.pos-r{position: relative;}
.prime-section .image-holder{position: absolute; top: -185px; bottom: -160px; right: 19px; left: 0; max-height: none; margin: 0;}
.prime-section .bg{background: #252525; position: absolute; overflow: hidden; top: 0; bottom: 0; right: 0; left: 0;}

.section-heading{position: relative; z-index: 3; padding-top: 2px; margin-bottom: 55px; padding-right: 21%;}
.section-heading h2{font-weight: 700; font-size: 44px; line-height: 1.46; margin-bottom:0.3335em;}
.section-heading h2 .decorate{position: relative; vertical-align: top; display: inline-block;}
.section-heading h2 .decorate::before{content: ""; position: absolute; top: -52px; right: -50px;}

.client-block{position: relative; padding-right:16px; width: 100%;}
.client-block:before{content: ''; position: absolute; left: calc(100% - 20px); background: #fff;  top: -50px;  bottom: -100px; right: -120px;}
.client-list{display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; margin: 0 -15px -40px; text-align: center; position: relative;}
.client-list li{margin-bottom: 55px; width: 25%; padding: 0 15px; flex-shrink: 0;}
.client-list img{max-width: 100%; vertical-align: top; vertical-align: middle; display: inline-block;}


.col-md-12{width: 100%;}
.step-list{position: relative; display: flex; font-size: 16px; padding: 0; margin-bottom: 30px; list-style: none;}
.step-list::before{transform: scaleX(0); content: ''; z-index: 3; position: absolute; bottom: 0; transition: transform 0.6s linear; top: auto; left: 0; right: 0; width: 100%; height: 2px; transform-origin: left center; background: #252525;}
.in-viewport.animated .step-list:before{transform: scaleX(1);}

.step-list li{position: relative; flex: 1 0 auto; padding-left: 50px; margin-bottom: 0; padding-bottom: 20px; padding-right: 15px; min-width: 25%;}
.step-list li::before{content: '';  position: absolute; width: 15px;  height: 0; top: 100%; left: 0; background: #252525; transition: height 0.2s linear .6s;}
.in-viewport.animated .step-list li::before{height: 15px;}

.step-list li::after{content: '';  transform: scaleY(0); position: absolute;  width: 15px; top: 0; bottom: 0; left: 0; background: #dbdbdb; transform-origin: bottom center; transition: transform .4s linear .9s;}
.in-viewport.animated .step-list li::after{transform: scaleY(1);}


.step-list .number{font-size: 48px; display: inline-block; vertical-align: top; font-weight: 700; line-height: 1; position: relative;}
.step-list .number .value{display: inline-block; vertical-align: top; overflow: hidden;}

.step-list .number .value .text{display: block; transform: translateX(-110%); transition: transform 0.2s linear 1.7s;}
.in-viewport.animated .value .text{transform: translateX(0);}

.step-list .content>*{ transform: translateX(-110%);}
.in-viewport.animated .step-list .content>*{transform: translateX(0);  transition: transform 0.3s linear 1.6s;}

.step-list .content{color: #555; font-weight: 500; overflow: hidden;}


.section.icons-section{padding-bottom: 40px; background: #252525; color: #fff;}
.section.icons-section h2{font-size: 48px; margin-bottom: 1.231em; line-height: 1.46;}
.icons-block{display: flex; align-items: center; font-weight: 500; text-transform: uppercase; padding-right: 60px; font-size: 18px; margin-bottom: 100px;}
.icons-holder{width: 120px; height: 120px; margin-right: 50px; display: block; flex-shrink: 0; position: relative; background: #fff;}
.icons-holder img{height: 60px; width: auto; max-width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.icons-block,
.text-holder{overflow: hidden;}
.icons-block .title{display: block; font-weight: 500;}